$ease: all 0.2s ease-in-out
$rltv: relative
$blck: block
$wht: #fff
$mtsrt: 'Montserrat', sans-serif
$upCase: uppercase
.wrap
  width: 80%
  height: 100%
  max-width: 1920px
  border-radius: 0.3em
  -webkit-transition: $ease
  -moz-transition: $ease
  -ms-transition: $ease
  -o-transition: $ease
  transition: $ease
  transform: translate3d(0, 0, 0)
  -webkit-transform: translate3d(0, 0, 0)
  position: $rltv
  float: center
  margin-right: 2%
  position: $rltv
  text-align: center
  margin: 0 auto
  transition: .4s ease-in
  cursor: pointer
  &:hover
    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.3)
  .country
    color: $wht
    font-family: "Merriweather", serif
    line-height: 2
    font-size: 4rem
    letter-spacing: 0.2rem
    padding: .4em
  .edition
    float: left
    font-family: $mtsrt
    font-weight: 100
    .numbers
      width: 100%
      float: left
      margin-bottom: 10px
      .number
        padding: 0 114px
        .big_number
          font-size: 11em
          line-height: 65px
          font-weight: 600
        .middle
          width: 39%
          float: left
        .text_edition
          width: 61%
          float: left
          text-align: -webkit-left
        .text_chico
          text-transform: $upCase
          font-size: 4em
          margin-top: -.6em
          line-height: 1.2em
  div.brazil
    background-color: #b3d76d
  div.mexico
    background-color: #D25757
    .edition, .days, .month, .year, a[type="button"]
      color: $wht
  div.colombia
    background-color: #DEC970
.logo
  margin-top: -20px
.days
  font-size: 2.5em
  font-weight: 300
  font-family: $mtsrt
.month
  font-weight: 600
  font-size: 2em
  font-family: $mtsrt
  text-transform: $upCase
.year
  font-family: $mtsrt
  font-weight: 300
  font-size: 2em
  margin-bottom: 1em
a[type="button"]
  border: none
  background: transparent
  padding: .5em 2em
  margin: 1em
  color: #677251
  text-transform: $upCase
  font-size: 2em
  font-weight: 300
  font-family: $mtsrt
  &.br
    border: 0.05em solid #677251
  &.mx
    border: 0.05em solid $wht
@media screen and (max-width: 769px)
  .edition
    padding: 1em 3em
@media screen and (max-width: 310px)
  .edition
    padding: 1em 7em
