.wrap {
  width: 80%;
  height: 100%;
  max-width: 1920px;
  border-radius: 0.3em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  float: center;
  margin-right: 2%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  .wrap:hover {
    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.3); }
  .wrap .country {
    color: #fff;
    font-family: "Merriweather", serif;
    line-height: 2;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    padding: 0.7em; }
  .wrap .text {
    z-index: 2;
    position: relative; }
  .wrap .edition {
    float: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 100; }
    .wrap .edition .numbers {
      width: 100%;
      float: left;
      margin-bottom: 10px; }
      .wrap .edition .numbers .number {
        padding: 0 114px; }
        .wrap .edition .numbers .number .big_number {
          font-size: 11em;
          line-height: 65px;
          font-weight: 600; }
        .wrap .edition .numbers .number .middle {
          width: 39%;
          float: left; }
        .wrap .edition .numbers .number .text_edition {
          width: 61%;
          float: left;
          text-align: -webkit-left; }
        .wrap .edition .numbers .number .text_chico {
          text-transform: uppercase;
          font-size: 4em;
          margin-top: -0.6em;
          line-height: 1.2em;
          padding-left: 0.1em; }
  .wrap div.brazil {
    background-color: #b3d76d; }
    .wrap div.brazil::after {
      content: "";
      background-image: url("../img/brasil.svg");
      background-repeat: no-repeat;
      background-position: 0em 17em;
      opacity: 0.6;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
  .wrap div.mexico {
    background-color: #a84747; }
    .wrap div.mexico::after {
      content: "";
      background-image: url("../img/mexico.svg");
      background-repeat: no-repeat;
      background-position: 0em 17em;
      opacity: 0.6;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
    .wrap div.mexico .edition, .wrap div.mexico .days, .wrap div.mexico .month, .wrap div.mexico .year {
      color: #fff; }
  .wrap div.colombia {
    background-color: #DEC970; }
    .wrap div.colombia::after {
      content: "";
      background-image: url("../img/colombia.svg");
      background-repeat: no-repeat;
      background-position: 0em 17em;
      opacity: 0.6;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }

.logo {
  margin-top: -20px; }

.days {
  font-size: 2.5em;
  font-weight: 300;
  font-family: "Montserrat", sans-serif; }

.month {
  font-weight: 600;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

.year {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3em;
  margin-bottom: 0.2em; }

a[type="button"] {
  border: none;
  background: transparent;
  padding: 0.5em 2em;
  margin: 1em 2em;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  display: block; }
  a[type="button"].br {
    border: 0.05em solid #677251;
    color: #677251;
    transition: all 0.2s ease-in-out; }
    a[type="button"].br:hover {
      color: #3f3f3f;
      border-color: #3f3f3f; }
    a[type="button"].br::before {
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  a[type="button"].mx {
    border: 0.05em solid #fff;
    color: #fff;
    transition: all 0.2s ease-in-out; }
    a[type="button"].mx:hover {
      color: #dca61c;
      border-color: #dca61c; }
    a[type="button"].mx::before {
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  a[type="button"].co {
    border: 0.05em solid #677251;
    color: #677251;
    transition: all 0.2s ease-in-out; }
    a[type="button"].co:hover {
      color: #1560AD;
      border-color: #1560AD; }
    a[type="button"].co::before {
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.white-space.space-mini {
  padding: 5px 0; }

.white-space.space-xsmall {
  padding: 10px 0; }

.white-space.space-small {
  padding: 20px 0; }

.white-space.space-medium {
  padding: 30px 0; }

.white-space.space-big {
  padding: 50px 0; }

.white-space.space-huge {
  padding: 100px 0; }

@media screen and (max-width: 769px) {
  .edition {
    padding: 1em 3em; } }
@media screen and (max-width: 310px) {
  .edition {
    padding: 1em 7em; } }

/*# sourceMappingURL=cards.css.map */
